:root {
  --textColor: #212121;
  --primaryWhiteColor: #ffffff;
  --bgColor: #d8bfd8;
  --darkVioletColor: #391d35;
  --violetColor: #613d5c;
  --pinkColor: #ffc1b6;
  --blueColor: #82d2ff;
  --yellowColor: #f9f9c0;
  --shadow-dark: gray 1px 1px 5px, gray -1px -1px 5px, gray -1px 1px 5px,
    gray 1px -1px 5px;
  --transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url('./img/seruzor68.jpg');
  font-family: 'Roboto', sans-serif;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  background-color: $primaryWhiteColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3,
button {
  user-select: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
